/*Generelt*/
*{
    box-sizing: border-box;
}

/*Styling af hero sektionen på dekstop*/

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.hero-section video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); 
    z-index: 1;
}

.hero-section .hero-content {
    position: relative;
    z-index: 2;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

.hero-content h1 {
    color: white;
    margin-left: 0;
}

.hero-content h2 {
    color: white;
    font-weight: 500;
    margin-top: 3px;
}


/*Styling af hero sektionen på mobil*/

@media only screen and (max-width: 930px){
.hero-section {
    height: 50vh;
}

.hero-content h1 {
    font-size: 20px;
}
}


/*Styling af velkomst-sektionen på desktop*/

.velkomst-section {
    display: flex;
    flex-direction: row;
}

.velkomst-tekst {
    width: 40%;
    margin-left: 3%;
}

.velkomst-tekst h3 {
    margin-top: 4%;
}

.velkomst-tekst h4 {
    font-size: 23px;
    font-style: italic;
    margin-top: -4%;
}

.velkomst-tekst p {
    margin-top: -2%;
}

.vaerdi-kasser {
    width: 54%;
    margin-right: 3%;
    margin-left: 2%;
}

.baggrunds-kasse {
    height: 25%;
    width: 100%;
    background-color: #415C41;
    margin-top: 4%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.baggrunds-kasse h3 {
    color: white;
    margin-left: 3%;
    margin-right: 1%;
}

.baggrunds-kasse img {
    width: 100%;
    height: auto;
}

.billede-container {
    width: 28%;
    position: relative;
    margin-top: 50%;
    margin-left: 4%;
}

.billede-tekst {
    position: absolute;
    bottom: 15%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.billede-wrapper {
    display: flex;
    justify-content: center;
}

.mobile-h4 {
    display: none;
   
}

.mobile-h3 {
    display: none;
}

.seperator-line {
   margin-top: -12%;
   margin-bottom: 5%;
 }

.overskrift-mobil {
    display: none;
}

.billede-container a {
    display: block;
    text-decoration: none; 
    color: inherit; 
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.billede-container a img {
    width: 100%; 
    transition: transform 0.3s ease;
}

.billede-container a:hover img {
    transform: scale(1.10); 
}

.billede-container a:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
}


/*Styling af velkomst-sektionen på mobil og mindre skærme*/

@media only screen and (max-width: 1475px){

.baggrunds-kasse h3 {
    font-size: 26px;
}

.velkomst-tekst h3 {
    font-size: 30px;
}
}

@media only screen and (max-width: 1250px){

    .baggrunds-kasse h3 {
        font-size: 22px;
    }

    .velkomst-tekst h3 {
        font-size: 28px;
    }
    }

@media only screen and (max-width: 1250px){

        .baggrunds-kasse h3 {
            font-size: 22px;
        }

        .velkomst-tekst h3 {
            font-size: 26px;
        }

        .velkomst-tekst h4 {
            font-size: 18px;
        }
        }

        @media only screen and (max-width: 980px){

            .baggrunds-kasse h3 {
                font-size: 20px;
            }
    
            .velkomst-tekst h3 {
                font-size: 24px;
            }
    

            }

            @media only screen and (max-width: 1140px){
                .velkomst-section {
                    flex-direction: column-reverse;
                }

                .velkomst-tekst, .vaerdi-kasser {
                    width: 90%;
                    margin: 5% auto;
                }

                .vaerdi-kasser {
                    margin-top: -15px;
                }

                .baggrunds-kasse {
                    flex-direction: column;
                    height: 120px;
                }
        
                .billede-wrapper {
                    gap: 3%;
                }

                .billede-container {
                    width: 28%;
                    position: relative;
                    margin-top: 0;
                    margin-left: 0;
                }
                
                .baggrunds-kasse h3 {
                    margin-top: 60%;
                }
                
                .billede-tekst {
                   font-size: 16px;
                }

                .velkomst-tekst h3 {
                    display: none;
                }
        
                .velkomst-tekst h4 {
                    display: none;
                }

                .mobile-h4 {
                    display: flex;
                    justify-content: center;
                    font-style: italic;
                    text-align: center;
                }
                
                .mobile-h3 {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-bottom: -22px;
                    font-weight: 800;
                }

                .overskrift-mobil {
                    display: flex;
                    margin-top: 50%;
                    font-weight: 800;
                    margin-left: 5%;
                    margin-bottom: -3%;

                }

                .seperator-line {
                    margin-top: 0;
                  }
                
    
            }


/*Styling af hero-section image*/

.hero-image {
    height: 55vh;
    width: 100%;
    position: relative; 
    background-color: #000000;
    display: flex; 
    align-items: center;
    justify-content: center; 
    text-align: center;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0; 
}

.hero-image-overlay {
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-image h1 {
    position: absolute; 
    z-index: 2; 
    color: white; 

}

/*Styling af hero-section image på mobil*/
@media only screen and (max-width: 930px){

.hero-image {
    height: 30vh;
}
}


/*Styling af intro-section*/

.intro-section {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 7%;
}

.intro-section h1 {
    text-align: left;
}

.intro-section h2 {
    margin-top: -1%;
}

.intro-billede {
    width: 100%;
}

.intro-billede img {
    width: 100%;
}

/*Styling af intro-section på mobil*/
@media only screen and (max-width: 930px){
.intro-section {
    margin-left: 8%;
    margin-right: 8%;
}
}



/*Styling af de grønne fakta bokse*/

.green-info-box {
    width: 18vw;
    height: 12vw;
    background: #415C41;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    position: relative;
}



.info-heading {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 40px;
    
}

.info-text {
    margin: 0;
    font-size: 24px;
    color: white;
}

.info-bottom-text {
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}

.infobox-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 70px;
}

/*Styling af de grønne fakta bokse på mobil*/
@media only screen and (max-width: 1540px){
    .info-bottom-text {
        font-size: 16px;

    }

}


@media only screen and (max-width: 1425px){
    .info-heading {
        font-size: 30px;
    }
    
    .info-text {
        font-size: 20px;
    }

    .info-bottom-text {
        font-size: 14px;

    }

}

@media only screen and (max-width: 1180px){
    .info-heading {
        font-size: 26px;
    }
    
    .info-text {
        font-size: 16px;
    }

    .info-bottom-text {
        font-size: 12px;

    }

    .green-info-box {
        width: 33%;
        height: 150px;
    }
}

    @media only screen and (max-width: 610px){
        .info-heading {
            font-size: 22px;
        }
        
        .info-text {
            font-size: 14px;
        }
    
        .info-bottom-text {
            font-size: 10px;
    
        }
        .info-bottom-text {
            display: none;
        }

        .infobox-wrapper {
            gap: 10px;
            margin-top: 30px;
        }



    }

    @media only screen and (max-width: 510px){
        .info-text {
            font-size: 12px;
        }
    }





/*Styling af skolens kontakt info*/

.kontaktinfo-heading {
    font-size: 40px;
    text-align: center;
    margin-bottom: 13px;
}

.kontakt-info-text {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: -20px;

}

.kontakt-oplysning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kontakt-oplysning img {
    width: 4%;
    min-width: 70px;
    margin-bottom: 22px;
    margin-top: 25px;
}

.kontakt-oplysning-wrapper {
    display: flex;
    gap: 5%;
    justify-content: center;
}

/*Styling af skolens kontakt info på mindre skærme og mobil*/
@media only screen and (max-width: 1100px){
.kontaktinfo-heading {
    font-size: 35px;
}

.kontakt-info-text {
    font-size: 16px;
    margin-top: -15px;
}
}
@media only screen and (max-width: 670px){

    .kontaktinfo-heading {
        font-size: 24px;
    }
    .kontakt-oplysning-wrapper {
        flex-direction: column;
    }

}

  /*Events styling */

.event-selector {
    text-align: center;
    margin-bottom: 2rem;
}

.event-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 50px;
}


.event {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.event-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.event-image:hover img {
    transform: scale(1.10);
}

.event-text {
    padding: 10px;
    height: 150px;
    overflow: auto; 
}

.event-name {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
}

.event-date {
    font-style: italic;
    color: #555;
    font-size: 13px;
    text-align: left;
    margin-top: -20px;
}

.event-description {
    font-size: 15px;
    text-align: left;
    margin-top: -5px;
}

.event-button {
    width: 37%;
    min-width: 90px; 
    max-width: 130px;
    height: 30px; 
    background-color: #415C41;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px; 
    line-height: 27px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;

}

.event-button:hover {
    transform: scale(1.05);
    background-color: #547554;
}

   /*Events styling på mobil og små skærme*/


   @media (max-width: 930px) {
    .event-list {
        flex-direction: column;
        align-items: center;
    }

    .event {
        width: 60%;
        margin-bottom: 10px;
    }
   }

   @media (max-width: 530px) {
    .event {
        width: 80%;
    }
   }

  /*Event selector styling */

.event-selector {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .event-selector label {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .event-selector input[type="date"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .event-selector button {
    background-color: #415C41;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif; 
  }
  
  .event-selector button:hover {
    background-color: #364d36;
  }

  .event-h2 {
    font-family: 'Nunito Sans', sans-serif; 
    text-align: center;
    margin-bottom: -10px;
  }

  
  /*Event selector styling på små skærme */
  
  @media (max-width: 600px) {
    .event-selector {
      flex-direction: column;
    }
  
    .event-selector input[type="date"],
    .event-selector button {
      width: auto;
    }

    .event-h2 {
        font-size: 24px;
    }
  }
  
  /*Donations box styling */

  .amount-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

#donation-amount {
    padding-right: 40px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

#donation-amount:focus {
    border-color: #969696;
    box-shadow: 0 0 5px #4A90E2; 
    outline: none; 
}


.valuta-box {
    position: absolute;
    right: 10px;
    pointer-events: none; 
    border-left: 1px solid #c4c4c4;
    line-height: 2.4;
    padding-left: 5px;
}

.donations-box {
    background: #f9f9f9;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.donations-h2 {
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 30px;
}

.donations-button {
    background: #415C41;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    border: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: 100;
    font-size: 16px;
    height: 40px;
    width: 80px;
    cursor: pointer;
}

.donations-button:hover {
    transform: scale(1.05);
    background-color: #547554;
}

.amount-wrapper input[type="number"] {
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: 700;
    font-size: 16px;
}

.donations-button2 {
    background: #415C41;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    border: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: 300;
    font-size: 16px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    
}

.donations-button2:hover {
    transform: scale(1.05);
    background-color: #547554;
}

.donations-belob {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.amount-container {
    margin-bottom: 20px;
}

.valuta-box {
    font-weight: 600;
    font-size: 16px;
}

.alternativ-donation {
    max-width: 1040px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.bank-donation {
    width: 49%;
    background: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.bank-donation img {
    height: 70px;
    width: 70px;

}


.mobilepay-donation {
    width: 49%;
    background: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mobilepay-donation img {
    height: 60px;
}

.donation-h3 {
    font-size: 20px;
    margin-top: 10px;
}

.donation-h4 {
    margin-top: -5px;
    font-size: 24px;

}

.donation-p {
    margin-top: -5px;
    font-size: 18px;
    font-weight: 600;
}

.bund-tekst {
    margin-top: 40px;
}

/* Styling af donations boxe på mobil og mindre skærme*/
@media only screen and (max-width: 600px) {
    .donations-box, .alternativ-donation, .amount-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .bank-donation, .mobilepay-donation {
        width: 100%; 
        margin-bottom: 20px;
    }


    .donations-button {
        width: 60px;
        margin-top: 10px;
    }

    .donations-button2 {
        width: 100%;
    }


    .donations-h2 {
        font-size: 24px; 
    }

    .donation-h3, .donation-p {
        font-size: 16px;
    }

    .donation-h4 {
        font-size: 20px;
    }

    .donations-belob button:last-child {
        display: none;
      }

    .bund-tekst {
        margin-top: 170px;
    }

    .bank-donation img {
        margin-top: 10px;

    }

    .mobilepay-donation img {
        margin-top: 10px;
    
    }
}

.bolig-box {
    width: 350px;
    height: 400px;
    background: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    margin-bottom: 50px;
    
}

.bolig-box img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.bolig-box img:hover {
    transform: scale(1.07);
}

.hus-info-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: -16px;
}

.hus-info-container {
    padding: 15px;
}

.hus-type {
    font-weight: 600;
    margin-top: -14px;
}

.adresse {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: -10px;
}

.hus-pris {
    text-align: center;
    font-size: 26px;
    margin-top: -10px;
}

.hus-info {
    font-weight: 600;
    
}

.bolig-box-link {
    text-decoration: none;
    color: inherit;
}

.bolig-box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 3%;
}

.boxhvid i {
    font-size: 40px;
}

/* Styling af bolig boxe på mobil og mindre skærme*/

@media only screen and (max-width: 1060px) {

    .bolig-box {
        width: 100%;
    }

    .bolig-box-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 3%;
    }

    

}

@media only screen and (max-width: 350px) {

    .adresse {
        font-size: 16px;
    }

    .hus-info {
        font-size: 14px;
        
    }
}

